@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 480px;
  background-color: #f5f5f5;
}

header {
  display: flex;
  width: 100%;
  background-color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 1.6rem;
}

.toggle {
  display: block;
  font-size: 2rem;
  cursor: pointer;
  z-index: 20;
  color: #6070ff;
}

.open-btn {
  display: block;
}

.close-btn {
  display: none;
  width: 20px;
  margin: 1.3rem;
}

.open-menu .open-btn {
  display: none;
}

.open-menu .close-btn {
  display: block;
  color: #fff;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem;
  padding-top: 130px;
  padding-left: 10%;
  padding-right: 90%;
  height: 900px;
  background-color: #6070ff;
  display: flex;
  flex-direction: column;
  justify-content: start;
  transform: translateX(-100%);
  transition: transform 1s;
}

.menu li {
  padding-top: 1rem;
}

.menu li a {
  font-size: 30px;
  color: #fff;
  text-decoration: none;
}

.open-menu .menu {
  transform: translateX(0);
  z-index: 5;
}

#logo {
  font-size: 25px;
  color: #6070ff;
  text-decoration: none;
  font-weight: 900;
}

.clm-1 {
  background: rgb(255, 255, 255) url(./images/header-shapes-bg.svg) no-repeat;
  background-size: cover;
  padding: 24px;
  border-radius: 0 0 0 60px;
  min-height: 700px;
}

.clm-pres {
  margin-top: 95px;
  color: #172b4d;
}

.clm-pres h1,
h2,
p {
  padding-top: 10px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.links {
  margin-top: 10px;
}

footer p {
  color: #ebebff;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  margin-top: 15px;
  animation: 3s slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.links p {
  color: #7f8cff;
  text-transform: uppercase;
  font-size: 16px;
}

.clm-pres h1,
h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  width: 88%;
}

ul {
  padding-top: 10px;
  max-width: 160px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

/* -------------POPUP WINDOW------------ */

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  background-color: #c1c7d073;
}

.popup ::-webkit-scrollbar {
  width: 2px;
  visibility: hidden;
}

.popup.active {
  display: inline-block;
}

.popup-content {
  position: fixed;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  height: 95%;
  min-width: 340px;
  width: 45%;
  background-color: #fff;
  transition: top 250ms linear, opacity 200ms linear;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  border-radius: 16px;
  padding: 18px;
}

.popup-content.active {
  opacity: 1;
  top: 2% !important;
}

.popup-h2 {
  color: #172b4d;
  font-size: 28px;
  margin: 0;
  padding: 0;
}

.popup-title img {
  width: 306px;
  height: 220px;
  margin: 12px 0;
}

.popup-canopy {
  margin: 0;
  padding: 0;
}

.close-popup {
  font-size: 24px;
  color: rgb(167, 164, 164);
  position: absolute;
  top: 24px;
  right: 20px;
}

.window-descript {
  width: 100%;
  color: #172b4d;
  padding: 30px 10px;
  overflow: hidden;
  font-size: 16px;
}

.window-languages {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 100%;
  margin-bottom: 0;
}

.window-languages li {
  color: #6070ff;
  padding: 2px 12px;
  margin: 0;
  margin-right: 6px;
  margin-bottom: 5px;
  background-color: #ebebff;
  border-radius: 8px;
  font-size: 12px;
  margin-top: 5px;
}

.window-btn-links {
  display: flex;
  justify-content: space-between;
}

.window-btn-links a {
  text-decoration: none;
  display:flex;
  align-items: center;
  justify-content: center;
}

.window-btn-links img {
  color: white;
}

/* my portfolio works section */

.card-container {
  margin: 50px auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 100px 0;
  grid-template-areas:
    "card-1 card-1 card-1 card-1"
    "card-2 card-2 card-2 card-2"
    "card-3 card-3 card-3 card-3"
    "card-4 card-4 card-4 card-4";
  justify-items: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 330px;
  margin: 5rem auto;
  min-height: 570px;
  background: #fff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 15px;
}

.card-1 { grid-area: card-1; }
.card-2 { grid-area: card-2; }
.card-3 { grid-area: card-3; }
.card-4 { grid-area: card-4; }

.card img {
  transition: all 0.4s ease-out;
  height: 243px;
  width: 296;
  object-fit: contain;
}

.card img:hover {
  transform: scale(1.2);
}

footer h2 {
  height: 56px;
  text-align: center;
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  margin-top: 100px;
}

.card h2 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  color: #172b4d;
  width: 60%;
  margin-top: 10px;
}

.canopy {
  display: flex;
  width: 100%;
  color: #172b4d;
  margin: 14px 0;
}

.canopy h4 {
  text-transform: uppercase;
  font-size: 13px;
  width: 25%;
}

.canopy ul {
  list-style-type: disc;
  display: flex;
  flex: 1;
  height: 10px;
}

.languages li {
  color: #6070ff;
  padding: 2px 12px;
  margin-right: 6px;
  background-color: #ebebff;
  border-radius: 8px;
  font-size: 12px;
}

.canopy ul li {
  font-size: 13px;
  margin-left: 3px;
  line-height: 2px;
  font-weight: 700;
  color: #7a869a;
}

.card-descript {
  height: 76px;
  text-align: left;
  color: #323c4e;
  font-size: 15px;
  display: -webkit-box;
  max-width: 295px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.languages {
  margin-top: 10px;
  width: 300px;
  display: flex;
  justify-content: start;
}

button,
.link {
  width: 125px;
  height: 50px;
  color: #6070ff;
  border: 2px solid #6070ff;
  background-color: #fff;
  border-radius: 8px;
  margin-top: 25px;
  transition: all 0.4s ease-out;
}

button:hover,
.link:hover {
  color: #dfe1e6;
  background-color: #6070ff;
  box-shadow: 0 8px 16px 0 #4053fc3d;
}

button:active
.link:active {
  background: #2230d2;
  color: #fff;
}

button:disabled {
  color: #323c4e;
  border: 2px solid #323c4e;
  background-color: #fff;
}

.window-btn-links .link {
  width: 48%;
}

/* -------------about me section-------------------- */

.clm-3 {
  background-color: #fff;
  border-radius: 0 60px 0 0;
  padding: 24px;
  padding-bottom: 80px;
  min-height: 700px;
}

.scroll-menu ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.scroll-menu ul li {
  width: 327px;
  height: 71px;
  border-bottom: 1px solid #dfe1e6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  font-size: 20px;
  font-weight: 900;
}

#resume-btn {
  width: 170px;
  font-size: 18px;
  font-weight: 600;
}

.scroll-menu i {
  color: #acb7c3;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  background: #6070ff url(./images/contact_form.svg) no-repeat;
  background-size: cover;
  border-radius: 50px 0 0 0;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}

form input,
form textarea {
  width: 327px;
  border-radius: 8px;
  outline: none;
  background-color: #fff;
  border: none;
  margin: 10px auto;
  padding: 18px 16px;
}

#name,
#email {
  height: 48px;
}

#textArea {
  height: 170px;
}

#email-message {
  font-size: 13px;
  margin: 0.7rem;
}

#sub-btn {
  margin-top: 18px;
}

#sub-btn:hover {
  border: 1px solid #fff;
}

@media screen and (min-width: 992px) {
  body {
    max-width: 1400px;
    margin: 0 auto;
  }

  header {
    width: 100%;
    height: 60px;
    margin: 0 auto;
    overflow: hidden;
  }

  nav {
    width: 90%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4rem;
    padding-bottom: 1rem;
    margin: 0 auto;
    text-align: center;
  }

  footer p {
    width: 550px;
    margin-top: 15px;
  }

  .open-btn,
  .close-btn,
  .open-menu .open-btn,
  .open-menu .close-btn {
    display: none;
  }

  .menu {
    position: relative;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100%;
  }

  .open-menu .menu {
    transform: translateX(-100%);
  }

  .menu li {
    text-align: center;
    margin: 5px 20px;
    display: flex;
    align-items: center;
  }

  .menu li a {
    color: #0d1420;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
  }

  .menu a:hover {
    color: #4456fa;
  }

  /* ------------------first section ---------------- */

  .clm-1 {
    background-image: url(./images/Header_bg.svg);
    background-size: contain;
    padding-left: 210px;
    padding-right: 210px;
    min-height: 600px;
  }

  .clm-pres h1,
  h2 {
    font-size: 48px;
  }

  .card {
    display: flex;
    flex-direction: row;
    padding: 20px;
    width: 880px;
    min-height: 360px;
    max-height: 360px;
  }

  .card img {
    width: 45%;
  }

  .details {
    margin-left: 40px;
    height: 280px;
  }

  .details h2 {
    width: 100%;
  }

  .card-descript {
    width: 100%;
    height: 60px;
  }

  .languages {
    margin-top: 0;
  }

  .canopy {
    margin: 5px;
  }

  .details button {
    width: 100px;
    height: 45px;
  }

  .card-2 img,
  .card-4 img {
    order: 2;
  }

  /* PopUp Window */

  .popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    z-index: 1000;
    overflow-y: scroll;
  }

  .popup.active {
    display: inline-block;
  }

  .popup-content {
    position: relative;
    left: 50%;
    top: 5%;
    transform: translateX(-50%);
    height: 800px;
    min-width: 520px;
    width: 70%;
    background-color: #fff;
    transition: top 250ms linear, opacity 200ms linear;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    padding: 20px;
    overflow-y: scroll;
    margin-bottom: 2rem;
  }

  .close-popup {
    font-size: 24px;
    color: rgb(131, 131, 131);
    position: absolute;
    top: 20px;
    right: 30px;
  }

  .popup .canopy {
    width: 40%;
    margin: 0;
    padding: 0;
  }

  .popup-content.active {
    opacity: 1;
    top: 10%;
  }

  .popup-title img {
    width: 100%;
    height: 600px;
    margin: 15px auto;
  }

  .window-details {
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .window-descript {
    margin-right: 30px;
    width: 85%;
  }

  .window-languages {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 250px;
    margin-bottom: 0;
  }

  .window-languages li {
    color: #6070ff;
    padding: 2px 12px;
    margin: 0;
    margin-right: 6px;
    margin-bottom: 5px;
    background-color: #ebebff;
    border-radius: 8px;
    font-size: 12px;
    margin-top: 5px;
  }

  .window-btn-links {
    height: 60px;
    display: flex;
    align-items: center;
    margin-top: 1rem;
    border-top: 1px solid #c2c2c2;
  }

  .window-btn-links button {
    padding: 2px;
    height: 40px;
    width: 140px;
    text-align: center;
    margin-right: 0.5rem;
  }

  /* ---------------------ABOUT ME SECTION------------------ */

  .clm-3 {
    height: 670px;
    border-radius: 0 90px 0 0;
    padding: 0 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .abt-clm {
    width: 390px;
  }

  .scroll-menu {
    flex: 1;
    margin-left: 35px;
  }

  .scroll-menu ul li {
    width: 450px;
    height: 80px;
    border-bottom: 1px solid #dfe1e6;
    padding: 0 12px;
    font-size: 16px;
    font-weight: 900;
  }

  .clm-pres h1,
  .clm-pres h2 {
    font-size: 40px;
    line-height: 35px;
  }

  .clm-pres p {
    font-size: 14px;
    margin-top: 10px;
  }

  /* ------------------------------FOOTER------------------------ */

  footer {
    background: #6070ff url(./images/background.svg) no-repeat;
    background-size: 100%;
    justify-content: center;
  }

  form input,
  form textarea {
    width: 450px;
    border-radius: 2px;
    margin: 27px auto;
  }

  #sub-btn {
    margin: 0 auto;
  }

  #email-message {
    font-size: 14px;
    text-align: center;
  }
}
