@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  max-width: 480px;
  background-color: #f5f5f5;
}

header {
  width: 100%;
  height: 60px;
  color: #6070ff;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 15px 22px;
}

.open,
.close,
#logo {
  font-size: 20px;
  color: #6070ff;
  text-decoration: none;
  font-weight: 900;
}

.menu,
.close {
  display: none;
}

/* header a {
  font-size: 20px;
  color: #6070ff;
  text-decoration: none;
  font-weight: 900;
} */

.clm-1 {
  background: rgb(255, 255, 255) url(./images/header-shapes-bg.svg) no-repeat;
  background-size: cover;
  padding: 24px;
  border-radius: 0 0 0 60px;
  min-height: 700px;
}

.clm-pres {
  margin-top: 95px;
  color: #172b4d;
}

.clm-pres h1,
h2,
p {
  padding-top: 10px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.links {
  margin-top: 10px;
}

footer p {
  color: #ebebff;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  margin-top: 15px;
}

.links p {
  color: #7f8cff;
  text-transform: uppercase;
  font-size: 16px;
}

.clm-pres h1,
h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  width: 88%;
}

ul {
  padding-top: 10px;
  max-width: 160px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

/* my portfolio works section */

.card-container {
  margin: 50px auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 100px 0;
  grid-template-areas:
    "card-1 card-1 card-1 card-1"
    "card-2 card-2 card-2 card-2"
    "card-3 card-3 card-3 card-3"
    "card-4 card-4 card-4 card-4";
  justify-items: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 330px;
  min-height: 570px;
  background: #fff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 15px;
}

.card-1 { grid-area: card-1; }
.card-2 { grid-area: card-2; }
.card-3 { grid-area: card-3; }
.card-4 { grid-area: card-4; }

.card image {
  height: 220px;
}

footer h2 {
  height: 56px;
  width: 801px;
  text-align: center;
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  margin-top: 100px;
}

.card h2 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  color: #172b4d;
  width: 60%;
  margin-top: 10px;
}

.canopy {
  display: flex;
  width: 100%;
  color: #172b4d;
  margin: 14px 0;
}

.canopy h4 {
  text-transform: uppercase;
  font-size: 13px;
  width: 25%;
}

.canopy ul {
  list-style-type: disc;
  display: flex;
  flex: 1;
  height: 10px;
}

.languages li {
  color: #6070ff;
  padding: 2px 12px;
  margin-right: 6px;
  background-color: #ebebff;
  border-radius: 8px;
  font-size: 12px;
}

.canopy ul li {
  font-size: 13px;
  margin-left: 3px;
  line-height: 2px;
  font-weight: 700;
  color: #7a869a;
}

.card-descript {
  height: 76px;
  width: 295px;
  text-align: left;
  color: #323c4e;
  font-size: 15px;
}

.languages {
  margin-top: 10px;
  width: 300px;
  display: flex;
  justify-content: start;
}

button {
  width: 125px;
  height: 50px;
  color: #6070ff;
  border: 2px solid #6070ff;
  background-color: #fff;
  border-radius: 8px;
  margin-top: 25px;
}

button:hover {
  color: #dfe1e6;
  background-color: #6070ff;
  box-shadow: 0 8px 16px 0 #4053fc3d;
}

button:active {
  background: #2230d2;
  color: #fff;
}

button:disabled {
  color: #323c4e;
  border: 2px solid #323c4e;
  background-color: #fff;
}

/* -------------about me section-------------------- */

.clm-3 {
  background-color: #fff;
  border-radius: 0 60px 0 0;
  padding: 24px;
  padding-bottom: 80px;
  min-height: 700px;
}

.scroll-menu ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.scroll-menu ul li {
  width: 327px;
  height: 71px;
  border-bottom: 1px solid #dfe1e6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  font-size: 20px;
  font-weight: 900;
}

#resume-btn {
  width: 170px;
  font-size: 18px;
  font-weight: 600;
}

.scroll-menu i {
  color: #acb7c3;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  background: #6070ff url(./images/contact_form.svg) no-repeat;
  background-size: cover;
  border-radius: 50px 0 0 0;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}

form input,
form textarea {
  width: 327px;
  border-radius: 8px;
  outline: none;
  background-color: #fff;
  border: none;
  margin: 10px auto;
  padding: 18px 16px;
}

#name,
#email {
  height: 48px;
}

#textArea {
  height: 170px;
}

#sub-btn {
  margin-top: 18px;
}

@media screen and (min-width: 992px) {
  body {
    max-width: 1100px;
    margin: 0 auto;
  }

  header {
    width: 1100px;
    height: 60px;
    padding: 20px 100px;
    margin: 0 auto;
    position: fixed;
    top: 0;
    overflow: hidden;
  }

  nav {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  footer p {
    width: 550px;
    margin-top: 15px;
  }

  .open {
    display: none;
    text-align: center;
  }

  .menu {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .menu li {
    text-align: center;
    margin: 5px 20px;
    display: flex;
    align-items: center;
  }

  .menu a {
    color: #0d1420;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
  }

  .menu a:hover {
    color: #4456fa;
  }

  /* ------------------first section ---------------- */

  .clm-1 {
    margin-top: 60px;
    background-image: url(./images/Header_bg.svg);
    background-size: contain;
    padding-left: 210px;
    padding-right: 210px;
    min-height: 600px;
  }

  .clm-pres h1,
  h2 {
    font-size: 48px;
  }

  .card {
    display: flex;
    flex-direction: row;
    padding: 20px;
    width: 880px;
    min-height: 360px;
    max-height: 360px;
  }

  .card img {
    width: 45%;
  }

  .details {
    margin-left: 40px;
    height: 280px;
  }

  .details h2 {
    width: 100%;
  }

  .card-descript {
    width: 100%;
    height: 60px;
  }

  .languages {
    margin-top: 0;
  }

  .canopy {
    margin: 5px;
  }

  .details button {
    width: 100px;
    height: 45px;
  }

  .card-2 img,
  .card-4 img {
    order: 2;
  }

  /* ---------------------ABOUT ME SECTION------------------ */

  .clm-3 {
    height: 670px;
    border-radius: 0 90px 0 0;
    padding: 0 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .abt-clm {
    width: 390px;
  }

  .scroll-menu {
    flex: 1;
    margin-left: 35px;
  }

  .scroll-menu ul li {
    width: 450px;
    height: 80px;
    border-bottom: 1px solid #dfe1e6;
    padding: 0 12px;
    font-size: 16px;
    font-weight: 900;
  }

  .clm-pres h1,
  .clm-pres h2 {
    font-size: 40px;
    line-height: 35px;
  }

  .clm-pres p {
    font-size: 14px;
    margin-top: 10px;
  }

  /* ------------------------------FOOTER------------------------ */

  footer {
    background: #6070ff url(./images/background.svg) no-repeat;
    background-size: 100%;
    justify-content: center;
  }

  form input,
  form textarea {
    width: 450px;
    border-radius: 2px;
    margin: 27px auto;
  }

  #sub-btn {
    margin: 0 auto;
  }

  #sub-btn:hover {
    border: 1px solid #fff;
  }
}
